@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', "sans-serif"; 
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

a, .btn {
    transition: all 300ms ease;
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(236, 231, 231, 0.9);
    transition: top 0.3s;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

#hamburger-nav {
    display: none;
}

.menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transform: all;
    transition: all 0.3 ease-in-out;
    background-color: blanchedalmond;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links li:hover {
    background-color: bisque;
}

.menu-links li a:hover {
    color: burlywood;
}
.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

/**/
#prev-about, #prev-experience, #prev-projects, #prev-contact {
    margin-top: -10vh;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    display: flex;
}
#about {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:center;
}

#photo img {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}

#intro-wrapper {
    margin-left: 50px;
}

.intro-text {
    font-size: 50px;
    padding-left: 10px;
}

#intro-button { 
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#intro-button button {
    border-radius: 10%;
    border-style: none;
    background-color: transparent;
}

#intro-button button:hover {
    cursor: pointer;
    color: grey;
    text-decoration: none;
}

#intro-button-one img{
    height: 50px;
    width: 50px;
}

#intro-button-two img{
    height: 50px;
    width: 50px;
}

#experience {
    display: flex;
    width: 100%;
    background-color: blueviolet;
    flex-direction: row;
}

#experience img {
    width: 30%;
    border-radius: 10%;
}

#projects {
    height: 500px;
    width: 100%;
    background-color:brown;
}

#contact {
    height: 500px;
    width: 100%;
    background-color:antiquewhite;
}

h3 {
    margin-left: 20px;
}

































#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:blanchedalmond; /* Set a background color */
    color:burlywood; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: bisque; /* Add a dark-grey background on hover */
  }